<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <head>
        <title>Queue Joined</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="${queuename}" />
        <h3 th:text="'Code: ' + ${queuecode}"/>
        <a th:text ="'Link'" th:href ='${url}'/>
        <table>
            <tr>
                <th>Song</th>
            </tr>
            <tr th:each="songmodel: ${list}">
                <td th:text="${songmodel.name}" />
            </tr>
        </table>
        <form action="#" th:action="@{'/addsong/'+${queuecode}}" th:object="${songmodel}" method="post">
            <p>Name: <input type="text" th:field="*{name}" /></p>		
            <!--				<td><form:select path="name">
                                                      <form:option value="NONE" label="--- Pick Song to Add ---" />
                                                      <form:options items="'Testing" />
                                                   </form:select>
                                            </td>
                                            <td><form:errors path="song" cssClass="error" /></td>-->

            <td colspan="3"><input type="submit" value='Add Song' /></td>

        </form:form>
</body>
</html>
